<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383186391726-k28nvcn5ii01gm5o26pdn0dhqisa88os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383186391726-k28nvcn5ii01gm5o26pdn0dhqisa88os</string>
	<key>API_KEY</key>
	<string>AIzaSyCtL1TBTTpm39bBltwtnwCW5rLSuuP9SSM</string>
	<key>GCM_SENDER_ID</key>
	<string>383186391726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lorenzodemariojuarez.officalmicdrop</string>
	<key>PROJECT_ID</key>
	<string>officalmicdrop</string>
	<key>STORAGE_BUCKET</key>
	<string>officalmicdrop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383186391726:ios:6c3f36429c8fe7bb33933f</string>
</dict>
</plist>